* {
  font-family: 'Rubik', sans-serif;
}
button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  color: white;
  background-color: #428fdc;
  border-radius: 8px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  transition: 0.1s linear;
  height: 2rem;
}
button:hover {
  background-color: #63aef9;
  cursor: pointer;
}
